@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --primary-color: #FFF9DE;
    --dark-pink-color: #FFCECE;
    --blue-color: #D1E5F7;
    --purple-color: #D2CEFF;
    --green-color: #DAF2D6;
    --grey-color: #B2AFA1;
    --dark-color: #69665C;
    --background-color: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 20px;
    background-color: #ddd;
}

.container {
    display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
  align-items: center;
  text-align: center;
  width: 1000px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 500px;
  border-radius: 20px;
  border: 1px solid var(--grey-color);
    background-color: var(--background-color);
}

.container p {
    font-size: 14px;
    width: 70%;
    line-height: 1.15;
    color: var(--grey-color);

}

.container button {
    margin: 10px;
    padding: 10px 20px;
    background-color: var(--dark-color);
    color: var(--background-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}
.container h1 {
    font-weight: bold;
    font-size: 40px;
}
.letter-t {
  color: var(--blue-color);
}

.letter-o1 {
  color: var(--dark-pink-color);
}

.letter-d {
  color: var(--green-color);
}

.letter-o2 {
  color: var(--purple-color);
}

form p {
    margin-bottom: 15px;
}

form label {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
    width: 100%;
    padding: 12px 15px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
    transition: border-color 0.3s ease;
}

form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="password"]:focus {
    border-color: var(--grey-color);
    outline: none;
}

button[type="submit"] {
    padding: 12px 20px;
    background-color: var(--dark-pink-color);
    color: #33448a;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.secondary-btn {
    background-color: var(--primary-color);
    color: #33448a;
    padding: 12px 20px;
    text-align: center;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease;
}
.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 500px;
}

.register {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
}

.register img {
    width: 500px;
    height: 500px;
    margin-right: 10px;
}

.register h1 {
    font-weight: 500;
}

.todo-container {
    display: flex;
    max-width: 1200px;
    margin: 40px auto;
    border-radius: 20px;
    background-color: var(--background-color);
    border: 1px solid var(--grey-color);
    overflow: hidden;
    height: 500px;
}

.sidebar {
    padding: 20px;
    width: 250px;
}

.sidebar h1 {
    font-size: 24px;
    font-weight: 600;
    color: var(--dark-color);
}

.sidebar a {
    text-decoration: none;
}

.category-list {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.category-item {
    padding: 10px 0;
    font-size: 14px;
    color: var(--grey-color);
    cursor: pointer;
    font-weight: 400;
}

.category-item.work { color: var(--grey-color); }
.category-item.study { color: var(--grey-color); }
.category-item.entertainment { color: var(--grey-color); }
.category-item.family { color: var(--grey-color); }

.hide-done-tasks {
    display: flex;
    align-items: center;
    margin-top: 20px;
    font-size: 14px;
    color: var(--grey-color);
    font-weight: 300;
}

.hide-done-tasks input {
    margin-right: 10px;
}

.task-list {
    flex: 1;
    padding: 20px;
}

.task-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.add-task {
    font-size: 24px;
    font-weight: 600;
    color: var(--dark-color);
    text-decoration: none;
}
.logout {
    font-size: 16px;
    background-color: var(--dark-color);
    color: var(--background-color);
    text-decoration: none;
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

.tasks {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.task-item {
    background-color: var(--primary-color);
    border-radius: 8px;
    padding: 15px;
    position: relative;
}

.task-title {
    font-size: 16px;
    color: var(--dark-color);
    margin: 0 0 10px;
    font-weight: 600;
}

.task-description {
    font-size: 14px;
    color: var(--grey-color);
    margin: 0 0 10px;
    font-weight: 400;
}

.task-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-done input {
    margin-right: 5px;
}

.more-options {
    background: none;
    border: none;
    font-size: 24px;
    color: var(--grey-color);
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
}

.task-done label {
    font-size: 14px;
    color: var(--grey-color);
    font-weight: 300;
}

.task-item.done {
    background-color: var(--primary-color);
    color: var(--grey-color);
}

.task-item.done .task-title,
.task-item.done .task-description {
    text-decoration: line-through;
}

/* Illustration */
.illustration {
    margin-top: 20px;
    text-align: center;
}

/* Container */
.task-form-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;
    background-color: var(--background-color);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

/* Form Header */
.form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.cancel-button {
    background: none;
    border: none;
    font-size: 16px;
    color: #888;
    cursor: pointer;
    text-decoration: none;
}

.add-button {
    background-color: var(--dark-color);
    border: none;
    color: var(--background-color);
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-size: 16px;
    color: #444;
    margin-bottom: 5px;
}

.form-input, .form-textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #e6e6e6;
    border-radius: 8px;
    background-color: #f9f9f9;
    color: var(--grey-color);
    box-sizing: border-box;
}

.form-input::placeholder, .form-textarea::placeholder {
    color: #bbb;
}

.form-textarea {
    height: 100px;
    resize: none;
}

.tags {
    display: flex;
    gap: 10px;
}

.tag {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.tag input[type="radio"] {
    display: none;
}

.tag-label {
    padding: 8px 16px;
    border-radius: 20px;
    font-size: 14px;
    color: #fff;
    background-color: #ddd;
}

.tag input[type="radio"]:checked + .tag-label {
    background-color: var(--purple-color); /* Default background color for selected tag */
}

.tag-label.work { background-color: #d6c1e8; }
.tag-label.study { background-color: #cce1f7; }
.tag-label.entertainment { background-color: #f7c1c4; }
.tag-label.family { background-color: #d1e7d6; }

button:focus, a:focus {
    outline: var(--grey-color);
}

.delete-task-container {
    background-color: #f8f9fa;
    padding: 20px;
    margin: 50px auto;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.delete-task-heading {
    font-size: 24px;
    margin-bottom: 20px;
    color: var(--dark-color);
}

.delete-task-text {
    font-size: 16px;
    color: var(--grey-color);
    margin-bottom: 30px;
}

.options {
    display: none;
    position: absolute;
    top: 30px;
    right: 15px;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 10;
    width: 120px;
}

.options a {
    display: none;
    padding: 10px;
    color: #333;
    text-decoration: none;
    font-size: 14px;
}

.options.show {
    display: block;
}

@media (max-width: 768px) {
    .todo-container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        border-right: none;
        border-bottom: 1px solid #e6e6e6;
    }

    .task-list {
        padding: 10px;
    }
}

@media (max-width: 480px) {
    .task-list-header h1 {
        font-size: 20px;
    }

    .task-title {
        font-size: 18px;
    }

    .task-description {
        font-size: 14px;
    }
}